<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sumeet.test" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
         />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".makeStack"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_make_stack"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Autonomous"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_autonomous"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".showStacks"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_show_stacks"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Comments"
            android:label="@string/title_activity_comments" >
        </activity>
        <activity
            android:name=".makeYellowStack"
            android:label="@string/title_activity_make_yellow_stack" >
        </activity>
        <activity
            android:name=".Reset"
            android:label="@string/title_activity_reset" >
        </activity>
        <activity
            android:name=".autonKnockedOver"
            android:label="@string/title_activity_auton_knocked_over" >
        </activity>
        <activity
            android:name=".teleopKnockedOver"
            android:label="@string/title_activity_teleop_knocked_over" >
        </activity>
    </application>

</manifest>
